/* Root Variables*/ 

/* Font */

:root {
  --page-font: 'Harmattan', 'Source Serif Pro', 'Roboto Slab';   
}

/* Colors */ 

:root {
	--color-accent: #d4af37; 
	--color-accent-opaque: #dec266;  
  --text-color: #000; 
  --secondary-text-color: #c5c3c1;
  --dark-bg: #121212;
  --light-bg: #464B52; 
}

/* Sizing */

:root {
  --section-max-size: 80vw;
}               

/* Animations */
:root {
  --title-enter-time: 1s;
  --content-enter-time: 1s;
  --navbar-enter-time: 1s;
  --navbar-delay-time: 1.5s;
  --reveal-time: 1s;
  --reveal-offset: 0.3s;
  --main-icon-enter-time: 1s;
  --main-icon-delay-time: 1.5s;
  --connect-icon-enter-time: 1s;
  --connect-icon-delay-time: 1.5s;
  --home-description-enter-time: 1s;
  --home-description-delay-time: 1.5s;
}                    

#root {

}

.hidden > * {
  opacity: 0;
}

.fade-enter {
  animation: fade-in ease 0.5s;
}

/* Keyframes */ 
@keyframes fade-enter-up{
  0% {
    opacity:0;
    transform: translateY(10vh);
  }
  100% {
    opacity:1;
    transform: translateY(0);
  }
}

@keyframes fade-enter-right{
  0% {
    opacity:0;
    transform: translateX(-5vw);
  }
  100% {
    opacity:1;
    transform: translateY(0);
  }
}

@keyframes fade-enter-left{
  0% {
    opacity:0;
    transform: translateX(5vw);
  }
  100% {
    opacity:1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.App, body, #root {
  position: relative;
  z-index: -1;
  font-family: var(--page-font);
  background-color:var(--dark-bg);
}

.user-select-none {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}

/* Main Logo */

#main-icon {
  top: 0.5%;
  left: 15%;
  position: absolute;
  z-index: 2;
  transform: translateX(-1000em);
  animation: fade-in ease 2s, slide-up ease var(--main-icon-enter-time);
  -webkit-animation: fade-in ease 2s, slide-up ease var(--main-icon-enter-time);
  -moz-animation: fade-in ease 2s, slide-up ease var(--main-icon-enter-time);
  animation-delay: var(--main-icon-delay-time);
  -webkit-animation-delay: var(--main-icon-delay-time);
  -moz-animation-delay: var(--main-icon-delay-time);
  animation-fill-mode: forwards;
  -webkit-fill-mode: forwards;
  -moz-fill-mode: forwards;

}

/* Navbar */

#element-container {
  margin: 3em 25em 0 auto;
  width: 35vw;
  position: relative;
  z-index: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar-container {
  width: 100vw;
  background-color: transparent;
  transform: translateY(-5em);
  transition: 0.2s;
  z-index: 1;
  top: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  animation: fade-in ease 2s, navbar-slide-down ease var(--navbar-enter-time);
  -webkit-animation: fade-in ease 2s, navbar-slide-down ease var(--navbar-enter-time);
  -moz-animation: fade-in ease 2s, navbar-slide-down ease var(--navbar-enter-time);
  animation-delay: var(--navbar-delay-time);
  -webkit-animation-delay: var(--navbar-delay-time);
  -moz-animation-delay: var(--navbar-delay-time);
  animation-fill-mode: forwards;
  -webkit-fill-mode: forwards;
  -moz-fill-mode: forwards;
}

.navbar-element {
  font-size: 1.5em;
  color: var(--secondary-text-color);
  cursor: pointer;
  text-decoration: none;
  
}
.navbar-element:hover {
  color: var(--color-accent);
  transition: 0.5s;
}

@keyframes navbar-slide-down {
  0% {
    transform: translateY(-5em);
  }
  100% {
    transform: translateY(0);
  }
}

.menu-wrap {
  z-index: 2;
  top: 1%;
  right: 20%;
  display: none;
  position: fixed;
}

.menu-wrap .toggler {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  z-index: 1;
  width: 30px;
  height: 30px;
  padding: 1rem;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */

.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: var(--secondary-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Top and bottom lines for Hamburger */

.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background-color: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div:after {
  top: 10px;
}

/* Toggler Animate */

.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}
/* Turn Lines into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate on hover */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Overlay */ 
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: 0.75s;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease;
} 

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background-color: rgba(0, 0, 0, 0.5);
  /* border-radius: 50%; */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 100vh;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li> a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}



/* Home Screen */

#home-container-wrapper {
  width: 100vw;
  height: 100vh;
}

#home-container {
  width: 25vw;
  height: 25vh;
  top: 30%;
  left: 15%;
  position: relative;
  display: flex;
  flex-direction: column;  
  justify-content: space-evenly;
}

#home-title {
  width: 25vw;
  font-family: 'Source Serif Pro';
  font-size: 8em;
  font-weight: 500;
  color: var(--secondary-text-color); 
  animation: fade-in ease-in 1.3s, slide-right ease var(--title-enter-time);
  -webkit-animation: fade-in ease-in 1.3s, slide-right ease var(--title-enter-time);
  -moz-animation: fade-in ease-in 1.3s, slide-right ease var(--title-enter-time);
  animation-fill-mode: forwards;
  -webkit-fill-mode: forwards;
  -moz-fill-mode: forwards;
}

#home-description {
  width: 20vw;
  transform: translateX(-150em);
  line-height: 1.5em;
  font-family: 'Source Serif Pro';
  font-size: 1.5em;
  font-weight: 400;
  color: var(--secondary-text-color);
  animation: fade-in ease-in 1.3s, slide-right ease var(--home-description-enter-time);
  -webkit-animation: fade-in ease-in 1.3s, slide-right ease var(--home-description-enter-time);
  -moz-animation: fade-in ease-in 1.3s, slide-right ease var(--home-description-enter-time);
  animation-delay: var(--home-description-delay-time);
  -webkit-animation-delay: var(--home-description-delay-time);
  -moz-animation-delay: var(--home-description-delay-time);
  animation-fill-mode: forwards;
  -webkit-fill-mode: forwards;
  -moz-fill-mode: forwards;
}

span {
  color: var(--color-accent);
}

@keyframes slide-right {
  0% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(0);
  }
}

#connect-icon {
  transform: translateX(-150em);
  animation: fade-in ease-in 1.3s, slide-right ease var(--connect-icon-enter-time);
  -webkit-animation: fade-in ease-in 1.3s, slide-right ease var(--connect-icon-enter-time);
  -moz-animation: fade-in ease-in 1.3s, slide-right ease var(--connect-icon-enter-time);
  animation-delay: var(--connect-icon-delay-time);
  -webkit-animation-delay: var(--connect-icon-delay-time);
  -moz-animation-delay: var(--connect-icon-delay-time);
  animation-fill-mode: forwards;
  -webkit-fill-mode: forwards;
  -moz-fill-mode: forwards;
}

#connect-icon-svg {
  transition: fill 2s ease-out; /* Not working?? */
  cursor: pointer;
}

#connect-icon-svg:hover {
  fill: var(--color-accent);
}
#connect-icon-svg:hover path{
  fill: var(--text-color);
}
/* ??? */
@keyframes fill {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(5em);
  }
  100% {
    transform: translateY(0);
  }
}

/* About */

#about-container-wrapper {

  background-color:var(--light-bg);
}

#about-container {
  width: 100vw;
  height: 100vh;
  display: flex; 
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  align-content: center;
  
}

#about-content {
  display: flex;
  flex-direction: column;
  margin-right: 25em;
}

#about-header {
  margin-bottom: 1.5vh;
  font-family: 'Source Serif Pro';
  font-size: 6em;
  font-weight: 400;
  color: var(--text-color);
}

#about-paragraph {
  width: 20vw;
  font-family: 'Roboto Slab';
  font-size: 1.5em;
  line-height: 1.5em;
  color: var(--text-color);
}

#about-picture {
  width: 35vw;
  height: 45vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#a-download {
  margin-top: 1.5vh;
  width: 267px;
  height: 50px;
  position: relative;
  display: inline-block;
}

#download-resume {
  padding-top: 1em;
  position: relative;
  cursor: pointer;
}

#download-resume:hover {
  fill: var(--dark-bg);
}

#download-resume:hover path {
  fill: var(--color-accent);
}

/* Skills */ 

#skills-container-wrapper {
  background-color: var(--dark-bg);
}

#skills-container {
  width: 100vw;
  height: 35vh;
  display: flex;
  flex-direction: column;
 
}

#skills-header {
  margin: 0.5em 0 1em 25vh;
  font-family: 'Source Serif Pro';
  font-size: 5em;
  color: var(--secondary-text-color);
}

#skills-map {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.skills-icon {
  width: 5vw;
  height: 5vw;
  padding: 0.5em;
  background-color: #000000;
  border-radius: 1em;
  color: var(--secondary-text-color);
}

.skills-name {
  font-family: 'Roboto Slab';
  font-size: 1.5em;
  font-weight: 500;
  padding-top: 0.5em;
  text-align: center;
  color:var(--secondary-text-color); 
}

/* .skills-icon:hover {
  color: var(--color-accent);
  transition: 0.3s;
}

.skills-icon:hover + .skills-name {
  color: var(--color-accent);
  transition: 0.3s;
} */

/* Passions */

#passion-container-wrapper {
  background-color: var(--dark-bg);
}

#passion-container {
  width: 100vw;
  height: 65vh;
  display: flex;
  flex-direction: column;
}

#passion-header {
  margin: 0 0 1em 25vh;
  font-family: 'Source Serif Pro';
  font-size: 5em;
  color: var(--secondary-text-color);
}

#passion-map {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.passion-element {
  width: 30em;
  height: 40em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.passion-icon {
  width: 15em;
  height: 15em;
  background-color: transparent;
  color: var(--color-accent-opaque);
  
}

.passion-title {
  margin: 0.5em 0;
  font-family: 'Source Serif Pro';
  font-size: 2.5em;
  font-weight: 500;
  color: var(--secondary-text-color);
}

.passion-description {
  font-family: 'Harmattan';
  font-size: 2em;
  color: var(--secondary-text-color);

}

/* Portfolio */ 

#portfolio-container-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: var(--light-bg);
  display: flex;
  flex-direction: column;
}

#portfolio-container {
  display: flex; 
}

#projects-map {
  width: 100vw;
  height: 100vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: flex; 
  flex-direction: row;
  justify-content: center;
  position: relative;
}

#portfolio-header {
  margin-bottom: 0.5em;
  padding-top: 0.5em;
  font-family: 'Source Serif Pro';
  font-size: 6em;
  text-align: center;
  color: var(--text-color);
}

.project-element a {
  color: inherit;
  text-decoration: inherit; 
}
.project-element {
  margin-right: 2em;
  width: 15vw;
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  overflow: hidden;
}

.project-element:nth-child(2n) {
  transform: translate(0, -60px);
}

/* .bottom-fade {
  width: 100%; 
  bottom: 0;
  left: 0;
  height: 70%;
  position: absolute;
  background: linear-gradient(to top, black 0%, rgba(0, 0, 0, 0.738) 19%,
  rgba(0, 0, 0, 0.541) 34%, rgba(0, 0, 0, 0.382) 47%,
   rgba(0, 0, 0, 0.278) 56.5%, rgba(0, 0, 0, 0.194) 65%,
    rgba(0, 0, 0, 0.126) 73%, rgba(0, 0, 0, 0.075) 80.2%,
     rgba(0, 0, 0, 0.042) 86.1%, rgba(0, 0, 0, 0.021) 91%,
      rgba(0, 0, 0, 0.008) 95.2%, rgba(0, 0, 0, 0.002) 98.2%, transparent 100%);
} */

.project-cover {
  opacity: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  background-size: 100% 100%;
  background-color: var(--color-accent);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.project-cover:hover {
  transition: 0.2s;
  opacity: 0.85;
}

.project-cover:hover .project-name {
  animation: fade-in ease-in-out 0.4s, enter-up 0.4s ease;
  -webkit-animation: fade-in ease-in-out 0.4s, enter-up 0.4s ease;
  -moz-animation: fade-in ease-in-out 0.4s, enter-up 0.4s ease;
}

.project-cover:hover .project-description {
  animation: fade-in 0.4s ease-in 0.3s;
  animation-fill-mode: forwards;
  -webkit-fill-mode: forwards;
  -moz-fill-mode: forwards;
}

.project-cover:hover .visit-project {
  animation: fade-in 0.4s ease-in 0.3s;
  animation-fill-mode: forwards;
  -webkit-fill-mode: forwards;
  -moz-fill-mode: forwards;
}

@keyframes enter-up {
  0% {
    transform: translateY(1em);
  }
  100% {
    transform: translateY(0);
  }
}

.project-content {
  margin-top: 5em;
}

.project-name {
  width: 10vw;
  line-height: 0.7em;
  color: var(--text-color);
  font-family: 'Harmattan';
  font-size: 2em;
  font-weight: 500;
} 

.project-description {
  margin-top: 1vh;
  opacity: 0;
  width: 10vw;
  color: var(--text-color);
  font-family: 'Roboto Slab';
  font-size: 1.1em;

}

.visit-project {
  margin-bottom: 1.5em;
  opacity: 0;
  color: var(--text-color);
  font-size: 1em;
  font-family: 'Roboto Slab';

}

#right-arrow {
  position: relative;
  top: 15%;
  left: 1%;
}


/* Contact */ 

#contact-container-wrapper {
  width: 100vw;
  height: 100vh;
  color: var(--secondary-text-color);
}

#contact-container {
  display: flex;
  flex-direction: column;
}

#contact-header {
  margin: 0.5em 0 5vw 25vh;
  font-family: 'Source Serif Pro';
  font-size: 6em;
}

#contact-content {
  margin-left: 25vh;
  width: 15vw;
  line-height: 1.5em;
  display: flex;
  flex-direction: column;
  font-family: 'Source Serif Pro';
  font-size: 3em;
}

#contact-content a {
  color: inherit;
  text-decoration: inherit;
}

#email {
  width: 12.5vw;
}

#email:hover {
  color: #444;
  transition: 0.3s;
}

#phone {
  width: 9vw;
}

#phone:hover {
  color: #444;
  transition: 0.3s;
}

#contact-icons-container {
  margin-top: 0.3em;
  width: 15vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#contact-icons-container a {
  color: inherit;
  text-decoration: inherit;
}

.contact-icon {
  font-size: 2em;
  cursor: pointer;
}

.contact-icon:hover {
  color: #444;
  transition: 0.3s;
}

/* Media Queries */ 

/* (1920x1080) Full HD Display */
@media  screen and (max-width: 1920px) {

  #element-container {
    margin-right: 15em;
  }
  
  .navbar-element {
    font-size: 1.3em;
  }
  
  #home-title {
    font-size: 7em;
  }

  #home-description {
    margin-bottom: 0.5em;
  }

  #about-header {
    font-size: 5em;
  }

  #about-paragraph {
    font-size: 1.2em;
  }

  #skills-header {
    
    font-size: 4em;
  }

  #passion-header {
    margin-top: 0.5em;
    font-size: 4em;
  }

  .passion-element {
    width: 20em;
    height: 30em;
  }

  .passion-icon {
    width: 10em;
    height: 10em;
  }

  .passion-title {
    font-size: 2em;
  }

  .passion-description {
    font-size: 1.3em;
  }

  #portfolio-header {
    font-size: 5em;
  }

  #contact-header {
    font-size: 5em;
  }

  #contact-content {
    font-size: 2em;
  }
}

/* iPhone 6, 7, 8 */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) {
  /* Styles */
  html {
    overflow-x: hidden !important;
  }
  body {
    overflow-x: hidden !important;
  }
  #main-icon {
    left: 5%;
  }

  #navbar-container {
    display: none;
  }

  .menu-wrap {
    display: block;
  }
  /* Home */
  #home-container {
    margin: auto;
    width: 70%;
    top: 35%;
    left: 0;
    align-items: center;
    text-align: center;
  }

  #home-title {
    width: 70vw;
    font-size: 3.5em;
  }

  #home-description {
    width: 70vw;
    font-size: 1em;
  }

  /* About */
  #about-container {
    flex-flow: column-reverse;
    align-items: center;
  }

  #about-content {
    margin: 0;
  }

  #about-header {
    display: none;
  }

  #about-paragraph {
    padding-top: 1em;
    font-size: 0.7em;
    width: 80vw;
  }

  #about-picture {
    width: 80vw;
  }

  #download-resume {
    padding: 0;
    left: 10%;
  }

  /* Skills */

  #skills-container {
    height: 85vh;
  }

  #skills-header {
    margin: 0.5em 0;
    text-align: center;
    font-size: 2.5em;
  }

  #skills-map {
    flex-flow: row wrap;
  }
  
  .skills-icon {
    width: 25vw;
    height: 25vw;
  }

  .skills-name {
    font-size: 1em;
    padding-bottom: 1em;
  }

  /* Passions */

  #passion-container {
    height: 160vh;
  }

  #passion-header {
    margin: 0.5em 0;
    text-align: center;
    font-size: 2.5em;
  }

  #passion-map {

  }

  .passion-element {
    height: 20em;
  }

  .passion-icon {
    width: 8em;
    height: 8em;
  }

  .passion-title {
    font-size: 1.5em;
  }

  .passion-description {
    font-size: 1.15em;
  }

  /* Portfolio */

  #portfolio-header {
    margin-bottom: 0;
    padding-bottom: 0.5em;
    font-size: 2.5em;
  }

  #projects-map {
    padding: 0;
    flex-direction: column;
    flex-flow: column wrap;
    justify-content: start;
  }

  .project-element:nth-child(2n) {
    transform: translate(0, 0);
  }
  .project-element {
    width: 40vw;
    height: 35vh;
    margin: 1em;
  }
  .project-content {
    margin: 2em;
  }
  
  .project-name {
    width: inherit;
    font-size: 1.5em;
  } 
  
  .project-description {
    width: inherit;
    font-size: 1em;
  }
  
  .visit-project {
    display: none;
  }
  
  #right-arrow {
    display: none;
  }

  /* Contact */

  #contact-container-wrapper {
    height: 45vh;
  }

  #contact-header {
    margin: 0.5em 0;
    text-align: center;
    font-size: 3.2em;
  }

  #contact-content {
    margin: 0.5em 0.5em;
    font-size: 1.5em;
    width: inherit; 
  }

  #email {
    text-align: center;
    width: inherit;
  }

  #phone {
    text-align: center;
    width: inherit;
  }

  #contact-icons-container {
    justify-content: center;
    width: inherit;
  }
}
