/* Root Variables*/ 

/* Font */

:root {
  --page-font: 'Harmattan', 'Source Serif Pro', 'Roboto Slab';   
}

/* Colors */ 

:root {
	--color-accent: #d4af37; 
	--color-accent-opaque: #dec266;  
  --text-color: #000; 
  --secondary-text-color: #c5c3c1;
  --dark-bg: #121212;
  --light-bg: #464B52; 
}

/* Sizing */

:root {
  --section-max-size: 80vw;
}               

/* Animations */
:root {
  --title-enter-time: 1s;
  --content-enter-time: 1s;
  --navbar-enter-time: 1s;
  --navbar-delay-time: 1.5s;
  --reveal-time: 1s;
  --reveal-offset: 0.3s;
  --main-icon-enter-time: 1s;
  --main-icon-delay-time: 1.5s;
  --connect-icon-enter-time: 1s;
  --connect-icon-delay-time: 1.5s;
  --home-description-enter-time: 1s;
  --home-description-delay-time: 1.5s;
}                    

#root {

}

.hidden > * {
  opacity: 0;
}

.fade-enter {
  animation: fade-in ease 0.5s;
}

/* Keyframes */ 
@keyframes fade-enter-up{
  0% {
    opacity:0;
    transform: translateY(10vh);
  }
  100% {
    opacity:1;
    transform: translateY(0);
  }
}

@keyframes fade-enter-right{
  0% {
    opacity:0;
    transform: translateX(-5vw);
  }
  100% {
    opacity:1;
    transform: translateY(0);
  }
}

@keyframes fade-enter-left{
  0% {
    opacity:0;
    transform: translateX(5vw);
  }
  100% {
    opacity:1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.App, body, #root {
  position: relative;
  z-index: -1;
  font-family: var(--page-font);
  background-color:var(--dark-bg);
}
#vanta {
  z-index: 0;
}

.user-select-none {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}

/* Main Logo */

#main-icon {
  top: 1%;
  left: 15%;
  position: absolute;
  z-index: 2;
  transform: translateX(-1000em);
  animation: fade-in ease 2s, slide-up ease var(--main-icon-enter-time);
  -webkit-animation: fade-in ease 2s, slide-up ease var(--main-icon-enter-time);
  -moz-animation: fade-in ease 2s, slide-up ease var(--main-icon-enter-time);
  animation-delay: var(--main-icon-delay-time);
  -webkit-animation-delay: var(--main-icon-delay-time);
  -moz-animation-delay: var(--main-icon-delay-time);
  animation-fill-mode: forwards;
  -webkit-fill-mode: forwards;
  -moz-fill-mode: forwards;

}

/* Navbar */

#element-container {
  margin: 3em 25em 0 auto;
  width: 35vw;
  position: relative;
  z-index: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#navbar-container {
  width: 100vw;
  background-color: transparent;
  transform: translateY(-5em);
  transition: 0.2s;
  z-index: 1;
  top: 0;
  position: fixed;
  animation: fade-in ease 2s, navbar-slide-down ease var(--navbar-enter-time);
  -webkit-animation: fade-in ease 2s, navbar-slide-down ease var(--navbar-enter-time);
  -moz-animation: fade-in ease 2s, navbar-slide-down ease var(--navbar-enter-time);
  animation-delay: var(--navbar-delay-time);
  -webkit-animation-delay: var(--navbar-delay-time);
  -moz-animation-delay: var(--navbar-delay-time);
  animation-fill-mode: forwards;
  -webkit-fill-mode: forwards;
  -moz-fill-mode: forwards;
}

.navbar-element {
  font-size: 1.5em;
  color: var(--secondary-text-color);
  cursor: pointer;
  text-decoration: none;
  
}
.navbar-element:hover {
  color: var(--color-accent);
  transition: 0.5s;
}

@keyframes navbar-slide-down {
  0% {
    transform: translateY(-5em);
  }
  100% {
    transform: translateY(0);
  }
}

/* Home Screen */

#home-container-wrapper {
  width: 100vw;
  height: 100vh;
}

#home-container {
  width: 25vw;
  height: 25vh;
  top: 30%;
  left: 15%;
  position: relative;
  display: flex;
  flex-direction: column;  
  justify-content: space-evenly;
}

#home-title {
  width: 25vw;
  font-family: 'Source Serif Pro';
  font-size: 8em;
  font-weight: 500;
  color: var(--secondary-text-color); 
  animation: fade-in ease-in 1.3s, slide-right ease var(--title-enter-time);
  -webkit-animation: fade-in ease-in 1.3s, slide-right ease var(--title-enter-time);
  -moz-animation: fade-in ease-in 1.3s, slide-right ease var(--title-enter-time);
  animation-fill-mode: forwards;
  -webkit-fill-mode: forwards;
  -moz-fill-mode: forwards;
}

#home-description {
  width: 20vw;
  transform: translateX(-150em);
  line-height: 1.5em;
  font-family: 'Source Serif Pro';
  font-size: 1.5em;
  font-weight: 400;
  color: var(--secondary-text-color);
  animation: fade-in ease-in 1.3s, slide-right ease var(--home-description-enter-time);
  -webkit-animation: fade-in ease-in 1.3s, slide-right ease var(--home-description-enter-time);
  -moz-animation: fade-in ease-in 1.3s, slide-right ease var(--home-description-enter-time);
  animation-delay: var(--home-description-delay-time);
  -webkit-animation-delay: var(--home-description-delay-time);
  -moz-animation-delay: var(--home-description-delay-time);
  animation-fill-mode: forwards;
  -webkit-fill-mode: forwards;
  -moz-fill-mode: forwards;
}

span {
  color: var(--color-accent);
}

@keyframes slide-right {
  0% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(0);
  }
}

#connect-icon {
  transform: translateX(-150em);
  animation: fade-in ease-in 1.3s, slide-right ease var(--connect-icon-enter-time);
  -webkit-animation: fade-in ease-in 1.3s, slide-right ease var(--connect-icon-enter-time);
  -moz-animation: fade-in ease-in 1.3s, slide-right ease var(--connect-icon-enter-time);
  animation-delay: var(--connect-icon-delay-time);
  -webkit-animation-delay: var(--connect-icon-delay-time);
  -moz-animation-delay: var(--connect-icon-delay-time);
  animation-fill-mode: forwards;
  -webkit-fill-mode: forwards;
  -moz-fill-mode: forwards;
}

#connect-icon-svg {
  transition: fill 2s ease-out; /* Not working?? */
  cursor: pointer;
}

#connect-icon-svg:hover {
  fill: var(--color-accent);
}
#connect-icon-svg:hover path{
  fill: var(--text-color);
}
/* ??? */
@keyframes fill {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(5em);
  }
  100% {
    transform: translateY(0);
  }
}

/* About */

#about-container-wrapper {

  background-color:var(--light-bg);
}

#about-container {
  width: 100vw;
  height: 100vh;
  display: flex; 
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
  align-content: center;
  
}

#about-content {
  display: flex;
  flex-direction: column;
  margin-right: 25em;
}

#about-header {
  margin-bottom: 1.5vh;
  font-family: 'Source Serif Pro';
  font-size: 5em;
  font-weight: 400;
  color: var(--text-color);
}

#about-paragraph {
  width: 20vw;
  font-family: 'Roboto Slab';
  font-size: 1.5em;
  line-height: 1.5em;
}

#about-picture {
  width: 35vw;
  height: 45vh;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#a-download {
  margin-top: 1.5vh;
  width: 267px;
  height: 50px;
  position: relative;
  display: inline-block;
}

#download-resume {
  padding-top: 1em;
  position: relative;
  cursor: pointer;
}

#download-resume:hover {
  fill: var(--dark-bg);
}

#download-resume:hover path {
  fill: var(--color-accent);
}

/* Skills */ 

#skills-container-wrapper {
  background-color: var(--dark-bg);
}

#skills-container {
  width: 100vw;
  height: 35vh;
  display: flex;
  flex-direction: column;
 
}

#skills-header {
  margin: 0.5em 0 1em 25vh;
  font-family: 'Source Serif Pro';
  font-size: 5em;
  color: var(--secondary-text-color);
}

#skills-map {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.skills-icon {
  width: 5vw;
  height: 5vw;
  padding: 0.5em;
  background-color: #000000;
  border-radius: 1em;
  color: var(--secondary-text-color);
}

.skills-name {
  font-family: 'Roboto Slab';
  font-size: 1.5em;
  font-weight: 500;
  padding-top: 0.5em;
  text-align: center;
  color:var(--secondary-text-color); 
}

/* .skills-icon:hover {
  color: var(--color-accent);
  transition: 0.3s;
}

.skills-icon:hover + .skills-name {
  color: var(--color-accent);
  transition: 0.3s;
} */

/* Passions */

#passion-container-wrapper {
  background-color: var(--dark-bg);
}

#passion-container {
  width: 100vw;
  height: 65vh;
  display: flex;
  flex-direction: column;
}

#passion-header {
  margin: 0 0 1em 25vh;
  font-family: 'Source Serif Pro';
  font-size: 5em;
  color: var(--secondary-text-color);
}

#passion-map {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.passion-element {
  width: 30em;
  height: 40em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.passion-icon {
  width: 15em;
  height: 15em;
  background-color: #121212;
  color: var(--color-accent-opaque);
  
}

.passion-title {
  margin: 0.5em 0;
  font-family: 'Source Serif Pro';
  font-size: 2.5em;
  font-weight: 500;
  color: var(--secondary-text-color);
}

.passion-description {
  font-family: 'Harmattan';
  font-size: 2em;
  color: var(--secondary-text-color);

}

/* Portfolio */ 

#portfolio-container-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: var(--light-bg);
  display: flex;
  flex-direction: column;
}

#portfolio-container {
  display: flex; 
}

#projects-map {
  width: 100vw;
  padding-top: 10vh;
  padding-bottom: 10vh;
  justify-content: center;
  display: flex; 
  flex-direction: row;
  position: relative;
}

#portfolio-header {
  margin-bottom: 0.5em;
  padding-top: 0.5em;
  font-family: 'Source Serif Pro';
  font-size: 5em;
  text-align: center;
  color: var(--text-color);
}

.project-element a {
  color: inherit;
  text-decoration: inherit; 
}
.project-element {
  margin-right: 2em;
  width: 15vw;
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  overflow: hidden;
}

.project-element:nth-child(2n) {
  transform: translate(0, -60px);
}

.bottom-fade {
  width: 100%; 
  bottom: 0;
  left: 0;
  height: 70%;
  position: absolute;
  background: linear-gradient(to top, black 0%, rgba(0, 0, 0, 0.738) 19%,
  rgba(0, 0, 0, 0.541) 34%, rgba(0, 0, 0, 0.382) 47%,
   rgba(0, 0, 0, 0.278) 56.5%, rgba(0, 0, 0, 0.194) 65%,
    rgba(0, 0, 0, 0.126) 73%, rgba(0, 0, 0, 0.075) 80.2%,
     rgba(0, 0, 0, 0.042) 86.1%, rgba(0, 0, 0, 0.021) 91%,
      rgba(0, 0, 0, 0.008) 95.2%, rgba(0, 0, 0, 0.002) 98.2%, transparent 100%);
}

.project-cover {
  opacity: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  background-size: 100% 100%;
  background-color: var(--color-accent);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.project-cover:hover {
  transition: 0.2s;
  opacity: 0.85;
}

.project-cover:hover .project-name {
  animation: fade-in ease-in-out 0.4s, enter-up 0.4s ease;
  -webkit-animation: fade-in ease-in-out 0.4s, enter-up 0.4s ease;
  -moz-animation: fade-in ease-in-out 0.4s, enter-up 0.4s ease;
}

.project-cover:hover .project-description {
  animation: fade-in 0.4s ease-in 0.3s;
  animation-fill-mode: forwards;
  -webkit-fill-mode: forwards;
  -moz-fill-mode: forwards;
}

.project-cover:hover .visit-project {
  animation: fade-in 0.4s ease-in 0.3s;
  animation-fill-mode: forwards;
  -webkit-fill-mode: forwards;
  -moz-fill-mode: forwards;
}

@keyframes enter-up {
  0% {
    transform: translateY(1em);
  }
  100% {
    transform: translateY(0);
  }
}

.project-content {
  margin-top: 5em;
}

.project-name {
  width: 10vw;
  line-height: 0.7em;
  color: var(--text-color);
  font-family: 'Harmattan';
  font-size: 2em;
  font-weight: 500;
} 

.project-description {
  margin-top: 1vh;
  opacity: 0;
  width: 10vw;
  color: var(--text-color);
  font-family: 'Roboto Slab';
  font-size: 1.1em;

}

.visit-project {
  margin-bottom: 1.5em;
  opacity: 0;
  color: var(--text-color);
  font-size: 1em;
  font-family: 'Roboto Slab';

}

#right-arrow {
  position: relative;
  top: 15%;
  left: 1%;
}


/* Contact */ 

#contact-container-wrapper {
  width: 100vw;
  height: 100vh;
  color: var(--secondary-text-color);
}

#contact-container {
  display: flex;
  flex-direction: column;
}

#contact-header {
  margin: 0.5em 0 5vw 25vh;
  font-family: 'Source Serif Pro';
  font-size: 5em;
}

#contact-content {
  margin-left: 25vh;
  width: 15vw;
  line-height: 1.5em;
  display: flex;
  flex-direction: column;
  font-family: 'Source Serif Pro';
  font-size: 2em;
}

#contact-content a {
  color: inherit;
  text-decoration: inherit;
}

#email {
  width: 12.5vw;
}

#email:hover {
  color: #444;
  transition: 0.3s;
}

#phone {
  width: 9vw;
}

#phone:hover {
  color: #444;
  transition: 0.3s;
}

#contact-icons-container {
  margin-top: 0.3em;
  width: 15vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#contact-icons-container a {
  color: inherit;
  text-decoration: inherit;
}

.contact-icon {
  font-size: 2em;
  cursor: pointer;
}

.contact-icon:hover {
  color: #444;
  transition: 0.3s;
}