/* Root Variables*/ 

/* Font */

:root {
  --page-font: 'Harmattan', 'Source Serif Pro', 'Roboto Slab';   
}

/* Colors */ 

:root {
	--color-accent: #d4af37; 
	--color-accent-opaque: #dec266;  
  --text-color: #000000; 
  --secondary-text-color: #ffffff;
  --dark-bg: #121212;
  --light-bg: #f0f0f0; 
}

/* Sizing */

:root {
  --section-max-size: 80vw;
}               

/* Animations */
:root {
  --title-enter-time: 1s;
  --content-enter-time: 1s;
  --navbar-delay-time: 1.5s;
  --navbar-animation-time: 1s;
  --reveal-time: 1s;
  --reveal-offset: 0.3s;
  --connect-icon-enter-time: 1s;
  --connect-icon-delay-time: 1.5s;
}                    

#root {

}

.hidden > * {
  opacity: 0;
}

.fade-slide-up > * {
  animation: fade-enter-up ease var(--reveal-time) var(--reveal-offset);
  animation-fill-mode: forwards;
  -webkit-fill-mode: forwards;
  -moz-fill-mode: forwards;
}

.fade-slide-right > * {
  animation: fade-enter-right ease var(--reveal-time) var(--reveal-offset);
  animation-fill-mode: forwards;
  -webkit-fill-mode: forwards;
  -moz-fill-mode: forwards;
}

.fade-slide-left > * {
  animation: fade-enter-left var(--reveal-time) var(--reveal-offset);
  animation-fill-mode: forwards;
  -webkit-fill-mode: forwards;
  -moz-fill-mode: forwards;
}

.fade-enter {
  animation: fade-in ease 0.5s;
}


/* Keyframes */ 
@keyframes fade-enter-up{
  0% {
    opacity:0;
    transform: translateY(10vh);
  }
  100% {
    opacity:1;
    transform: translateY(0);
  }
}

@keyframes fade-enter-right{
  0% {
    opacity:0;
    transform: translateX(-5vw);
  }
  100% {
    opacity:1;
    transform: translateY(0);
  }
}

@keyframes fade-enter-left{
  0% {
    opacity:0;
    transform: translateX(5vw);
  }
  100% {
    opacity:1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.App, body, #root {
  position: relative;
  z-index: -1;
  font-family: var(--page-font);
  background-color:var(--dark-bg);
}

/* .section {

}           

.section-header {
  margin: 0;
  font-size: 
} */

.user-select-none {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
}

/* Main Logo */

#main-icon {
  top: 2%;
  left: 15%;
  position: absolute;
  z-index: 2;

}

/* Navbar */

#element-container {
  margin: 3em 25em 0 auto;
  width: 35vw;
  position: relative;
  z-index: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#navbar-container {
  width: 100vw;
  background-color: transparent;
  transform: translateY(-5em);
  transition: 0.2s;
  z-index: 1;
  top: 0;
  position: fixed;
  animation: fade-in ease 2s, navbar-slide-down ease var(--navbar-animation-time);
  -webkit-animation: fade-in ease 2s, navbar-slide-down ease var(--navbar-animation-time);
  -moz-animation: fade-in ease 2s, navbar-slide-down ease var(--navbar-animation-time);
  animation-delay: var(--navbar-delay-time);
  -webkit-animation-delay: var(--navbar-delay-time);
  -moz-animation-delay: var(--navbar-delay-time);
  animation-fill-mode: forwards;
  -webkit-fill-mode: forwards;
  -moz-fill-mode: forwards;
}

.navbar-element {
  font-size: 1.5em;
  color: var(--secondary-text-color);
  cursor: pointer;
  text-decoration: none;
  
}
.navbar-element:hover {
  color: var(--color-accent);
  transition: 0.5s;
}

@keyframes navbar-slide-down {
  0% {
    transform: translateY(-5em);
  }
  100% {
    transform: translateY(0);
  }
}

/* Home Screen */

#home-container-wrapper {
  width: 100vw;
  height: 100vh;
}

#home-container {
  width: 45vw;
  top: 30%;
  left: 15%;
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-direction: row;  
}

#home-title {
  width: 20vw;
  font-family: 'Source Serif Pro';
  font-size: 7em;
  font-weight: 500;
  color: var(--secondary-text-color);
  animation: fade-in ease 2s, slide-right ease var(--title-enter-time);
  -webkit-animation: fade-in ease 2s, slide-right ease var(--title-enter-time);
  -moz-animation: fade-in ease 2s, slide-right ease var(--title-enter-time);
  animation-fill-mode: forwards;
  -webkit-fill-mode: forwards;
  -moz-fill-mode: forwards;
}

span {
  color: var(--color-accent);
}

@keyframes slide-right {
  0% {
    transform: translateX(-5em);
  }
  100% {
    transform: translateX(0);
  }
}

.connect-icon {
  margin-bottom: 1em;
  right: 30%;
  position: absolute;
  transform: translateX(-1000em);
  animation: fade-in ease 2s, slide-right ease var(--connect-icon-enter-time);
  -webkit-animation: fade-in ease 2s, slide-right ease var(--connect-icon-enter-time);
  -moz-animation: fade-in ease 2s, slide-yp ease var(--connect-icon-enter-time);
  animation-delay: var(--connect-icon-delay-time);
  -webkit-animation-delay: var(--connect-icon-delay-time);
  -moz-animation-delay: var(--connect-icon-delay-time);
  animation-fill-mode: forwards;
  -webkit-fill-mode: forwards;
  -moz-fill-mode: forwards;
}

.connect-icon-svg {
  transition: fill 2s ease-in-out; /* Not working?? */
  cursor: pointer;
}

.connect-icon-svg:hover {
  fill: var(--color-accent);
}
.connect-icon-svg:hover path{
  fill: var(--text-color);
}
/* ??? */
@keyframes fill {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-5em);
  }
  100% {
    transform: translateX(0);
  }
}

/* About */

#about-container-wrapper {
  height: 60vh;
  background-color: var(--light-bg);
  display: flex;
}

#about-container {
  width: 55vw;
  height: 40vh;
  top: 15%;
  left: 15%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}

#about-content {
  width: 45vw;
  left: 5%;
  position: relative;
}

#about-header {
  margin-bottom: 1.5vh;
  font-family: 'Source Serif Pro';
  font-size: 4em;
  font-weight: 400;
  color: var(--text-color);
}

#about-paragraph {
  width: 40vw;
  font-family: 'Roboto Slab';
  font-size: 1.3em;
  line-height: 1.4em;
}


#about-picture {
  border-radius: 1.5em;
  width: 15vw;
  height: 20vw;
}

#download-resume {
  margin-top: 1.5vh;
  position: absolute;
  left: 35%;
  cursor: pointer;
}

#download-resume:hover {
  fill: var(--dark-bg);
}

#download-resume:hover path {
  fill: var(--color-accent);
}

/* Skills */ 

#skills-container-wrapper {
  display: flex;
  flex-direction: column;
  
}

#skills-container {
  width: 100vw;
  height: 50vh;
  background-color: var(--dark-bg);
}

#skills-header {
  margin: 0 0 5vw 30vh;
  padding-top: 0.5em;
  font-family: 'Source Serif Pro';
  font-size: 5em;
  color: var(--secondary-text-color);
}

#skills-map {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.skills-icon {
  width: 5vw;
  height: 5vw;
  padding: 0.5em;
  background-color: #000000;
  border-radius: 1em;
  color: var(--secondary-text-color);
}

.skills-name {
  font-family: 'Roboto Slab';
  font-size: 1.5em;
  font-weight: 500;
  padding-top: 0.5em;
  text-align: center;
  color:var(--secondary-text-color); 
}

.skills-icon:hover {
  color: var(--color-accent);
  transition: 0.3s;
}

.skills-icon:hover + .skills-name {
  color: var(--color-accent);
  transition: 0.3s;
}